<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<div> welcome <%= cookies[:email] %></div>      
<br>
<div id="logout" style="cursor: pointer; color: blue;">Logout</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#logout").click(function(){
			$.ajax({
				url:'sign_out',
			    type:'get',
			    success: function(data){
			    	window.location = "/";
			    },
			    error: function(){
			    	alert("logout fails");
			    }
			});
		});
	});
</script>